/* main.css */

/* temp styling while laying out */
* {
  outline: red 1px solid;
}

body {
  background-color: #000;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 0px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  /* same dimensions as images */
  width: 659px;
  height: 494px;
  /* I added below */
  position: relative;   
}

.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
  position: absolute;
  top: 0;
  left: 0;
}

.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken, .kapow, .ryu-ready, .ryu-still, .ryu-throwing {
  /* somewhat unnecessary since we set containing divs to be exact size of images */
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  top: 173px;
  left: 440px;
  z-index: 10;
}

.kapow {
  background-image: url('../images/kapow_350x254.png');
  width: 350px;
  height: 254px;
  position: absolute;
  top: 90px;
  left: 800px;
  z-index: 11;
  opacity: 0;
}




